h4.example {
	color: #BBB;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#searchbar {
	margin-top: 40px;
	padding: 5px 0 5px 30px;
	height: 28px;
	background-color: #EEE;
}

#mainbar {
	width: 100%;
	padding-left: 30px;
}

#east_container {
	width: 350px;
	margin-top: 10px;
}

#right_panel fieldset div.control-group div.controls {
	padding-top: 5px;
	margin-left: 100px;
}

#right_panel fieldset div.control-group label.control-label {
	width: 80px;
	color: #BBB;
}

#user_project {
	display: inline;
	float: left;
}

#searchinput {
	float: left;
}

#searchform {
	vertical-align: middle;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin-top: 0;
}

.form-inline {
	margin: 0;
}

.ui-layout-north {
	border-bottom: 1px solid #CCCCCC;
}

.ui-layout-south {
	background-color: #EEE;
	padding: 5px 10px;
	border-top: 1px solid #CCCCCC;
}

.ui-layout-east {
}

.form-horizontal .control-group {
	margin-bottom: 0px;
}

circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}
line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}