#main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}
line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}